*{
    margin:0;
    list-style: none;
}
.top{
    background-color:rgb(252, 233, 235);
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-around;
}
.logo{
    margin-top: 24px;
}
.mainlogo{
    margin-top: 48px;
}
.login{
    font-size: 13px;
    margin-top: 24px;
}
.login p{
    display: inline;
    margin-left: 10px;
}
.topmenu{
    width: 100%;
    height: 80px;
    margin-top: 3px;
}
.topmenu .menu li{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-left: 48px;
    padding: 20px;
    color: #777;
    margin-top: 11px;
}
.menu{
    width: 100%;
    height: 80px;
    vertical-align: center;
    text-align: center;
    padding: 0;
}
.visual{
    background-image: url(../images/mainvisual.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 670px;
    width: 100vw;
    position: relative;
    margin-top: 3px;
}
.visual .box{
    width: 440px;
    height: 306px;
    background-color: #fff;
    position: absolute;
    top: 165px;
    left:220px;
    text-align: center;
    padding-bottom: 25px;
}
.box .bold{
    font-size: 18px;
    font-weight: bold;
    color:rgb(209, 153, 81);
    padding-bottom:10px;
    margin-top:25px;
}
.box .nomal{
    font-size: 11px;
    line-height: 20px;
}
.box .dash{
    font-weight: bold;
}
.visual .left{
    position: absolute;
    top: 325px;
    left: 58px;
    width: 60px;
}
.visual .right{
    position: absolute;
    top: 325px;
    right: 58px;
    width: 65px;
}
.space{
    background-color: #ececec;
    height: 50px;
    margin-top: 4px;
    border:solid 1px #c8c8c8;
}
.itemflex{
    background-color: #000;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
}
.item{
    width: 25%;
    height: auto;
    display: inline-block;
}
.item img {
    width: 100%;
    height: auto;
}
.black{
    display: flex;
}
.black .blackbox{
    width: 353px;
    height: 26px;
    background-color: #000;
    opacity: 70%;
    color: #fff;
    font-size: 12px;
    padding-top: 8px;
    position: absolute;
}
.blackbox p{
    margin-left: 10px;
    padding-left: 20px;
}
.map{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 450px;
    background-color: #ececec;
    padding-top: 112px;
}
.map1{
    margin-right: 50px;
}
.map1 p{
    display: inline;
}
.map1 ul li{
    padding-bottom: 50px;
    line-height: 20px;
}
.map1 ul li i{
    color:#555;
}
.map1 ul li .title{
    font-size: 14px;
    font-weight: bold;
    color: #555;
    padding-bottom: 6px;
    padding-left: 8px;
}
.map1 ul li .sub{
    font-size: 12px;
    color: #555;
    padding-left: 20px;
}
.map2{
    width: 670px;
    height: 360px;
    position: relative;
}
.map2 p{
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    top: -45px;
    left: 242px;
    color: #666;
}
.map2 span{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: -35px;
    left: 570px;
    color: #666;
}
.map2 iframe {
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.line{
    width: 100%;
    height: 4px;
    border-bottom:solid 1px #c8c8c8;
}
.footer1 ul{
    padding-left:10px;
}
.footer1{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.footer2{
    line-height: 28px;
    color: #555;
    font-size: 12px;
}
.footer2 li{
    border-bottom: 1px solid #c8c8c8;
}
#count{
    padding-left: 40px;
}